<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
        <mat-form-field appearance="standard">
          <mat-label>Name</mat-label>
            <input 
                matInput placeholder="Name"
                [(ngModel)] = "name"
                name = "name"
                required>
        </mat-form-field> 
        </p>
        <p>
        <mat-form-field appearance="standard">
          <mat-label>Years</mat-label>
                <input 
                    matInput placeholder="Education years"
                    [(ngModel)] = "years"
                    name = "years"
                    type = "number"
                    required>
        </mat-form-field>
      </p>  
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Income</mat-label>
                <input 
                    matInput placeholder="Income"
                    [(ngModel)] = "income"
                    name = "income"
                    type = "number"
                    required>
        </mat-form-field>
      </p>                       
        <div >
            <button mat-raised-button
              [disabled] = "!customerForm.form.valid" 
              color="primary" 
             (click) = "validation(years)">
             {{buttonText}}
            </button>
            <button mat-raised-button
             (click) = "tellParentToClose()">
             Cancel
            </button>
        </div>
        <p style = "color: red">{{error}}</p>
      </div>
    </form>
    </mat-card>
