<!-- טופס התחברות -->
<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()"> <!--כאשר מתרחש האירוע סאבמיט על הפורמ הפונקצייה אוןסאבמיט תפעל-->
        <mat-error *ngIf = "isError"> <!--הרצאה 9 הודעות השגיאה-->
            {{errorMessage}} 
          </mat-error>
        <div class="example-container">
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                <!--מה שיופיע בתוך התיבה שמקלידים--><input matInput type="text" placeholder= "example:you@you.com" 
                   [(ngModel)] = "email"
                    name = "email"
                    required> <!--נדרש למלא-->
                    <mat-hint>The one you really read</mat-hint> <!--מה שיהיה רשום מתחת לתיבה-->
                    <button 
                        mat-button *ngIf="email" 
                        matSuffix mat-icon-button aria-label="Clear" 
                        (click)="email=''"> <!--בשביל הודעות השגיאה-->
                        <mat-icon>close</mat-icon> <!--בשביל הודעות השגיאה-->
                   </button>
                </mat-form-field>
            </p>    
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Password</mat-label>
                   <!--הסתרה של התווים-->  <input matInput [type]="hide ? 'password' : 'text'"
                     [(ngModel)] = "password"
                     name = "password"
                     required> <!--נדרש למלא-->
                    <mat-hint>at least 6 characters</mat-hint> <!--מה שיהיה רשום מתחת לתיבה-->
                   <button 
                        mat-icon-button matSuffix
                        (click)="hide = !hide" 
                        [attr.aria-label]="'Hide password'" 
                        [attr.aria-pressed]="hide"> <!--העין של ההסתרה-->
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> <!--העין של ההסתרה-->
                    </button>
                </mat-form-field>
            </p>
        </div>
        <div>
            <button [disabled] = "!loginForm.form.valid" 
                type="submit" mat-raised-button 
                color="primary">
                Login
            </button> <!--נוסיף לכפתור אופציה שאי אפשר יהיה לבחור בו כל עוד לא מילאו פרטים-->
      </div>
    </form>
  </mat-card>