<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
    <!--הוספת ההגדרות לקישורים-->
    <a mat-list-item routerLink="/costumers" routerLinkActive="active" *ngIf = "(authService.getUser() | async)">Costumers </a>
    <a mat-list-item routerLink="/costumers2" routerLinkActive="active" *ngIf = "(authService.getUser() | async)">Costumers2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>exampleTest</span>
      <span class="spacer"></span><!-- כדי שיהיה מרווח בין הלינקים לכותרת "הלו-->
      <a class="whitelink" routerLink="/signup"  *ngIf = "!(authService.getUser() | async)">Sign-Up</a><!--נוסיף קישור שיוביל לקומפוננט הרשמה -נוסף נוסיף שיהיה גלוי רק אם לא מחוברים  הרצאה 8--> 
      <a class="whitelink" routerLink="/login" *ngIf = "!(authService.getUser() | async)">Login</a><!--נוסיף קישור שיוביל לקומפוננט התחברות -נוסף נוסיף שיהיה גלוי רק אם לא מחוברים הרצאה 8-->
      <a class="whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser() | async)">LogOut</a><!--נוסיף קישור שיוביל ללוג אווט בגלל שאין ללוג אווט קומפוננט שאפשר לקשר אליו, אז נעשה ככה - בנוסף נוסיף שיהיה גלוי רק שמחוברים -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet> <!-- הוספנו כדי שהקומפוננטים יתחלפו ביניהם ויופיעו במסך הלבן-->
  </mat-sidenav-content>
</mat-sidenav-container>
