<p *ngIf = "!(authService.getUser() | async)">You Are Not Logged In</p> 
<div>
    <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
    color = "primary" 
    (click) = "addcostumerFormOpen = !addcostumerFormOpen"> 
        Add Customer
    </button>
</div>
<div>
    <costumerform *ngIf = "addcostumerFormOpen"
             (update) = "add($event)"
             (closeEdit) = "addcostumerFormOpen = false"
             [formType] = "'Add Costumer'"> 
    </costumerform>
</div>
<mat-accordion *ngIf = "(authService.getUser() | async)"> 
   <mat-expansion-panel 
                        (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let costumer of costumers$ | async; let i = index">
                        <!--לדפדוף-->
                        <!--*ngFor = "let costumer of costumers; let i = index"--> 
        <mat-expansion-panel-header> 
        <mat-panel-title>
            {{costumer.name}} 
        </mat-panel-title>
        <mat-panel-description>
            <button mat-raised-button class="space"
                color = "primary" 
                (click) = "deleteCostumer(costumer.id)"> 
                Delete
            </button>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <div>
      <div> years of education:  {{costumer.years}} </div>
        <div> income: {{costumer.income}} </div>
        <div>
          <button mat-raised-button class="space2"
          color="primary" 
          (click) = "predict(costumer.years, costumer.income)">
          Predict
        </button> 
        <div> prob {{prob}}, will returm the loan? </div>
          <p *ngIf = "returnOrNot == 'yes'"style="color:green;">{{returnOrNot}}</p>
          <p *ngIf = "returnOrNot == 'no' "style="color:red;">{{returnOrNot}}</p>
        </div>
    </div>
    <button mat-raised-button
    color="primary" 
    (click) = "savePredict(costumer.id, returnOrNot)">
    Save Predict Result
  </button>
  <div></div> 
  <button mat-raised-button class="space2"
  color = "primary" 
  (click) = "editstate[i] = !editstate[i]"> 
  Edit
</button>
    <costumerform
      [hidden] = "!editstate[i]"
      [name] = "costumer.name"
      [years] = "costumer.years"
      [income] = "costumer.income"  
      [id] = "costumer.id" 
      (update) = "update($event);editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]"
      [formType] = "'Edit Costumer'"> 
    </costumerform>
    </mat-expansion-panel>
  </mat-accordion>

      <!--דפדןף-->
      <!--<div>
        <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
        color="primary"
        (click) = "previewsPage()">
        Previews Page
       </button>   
      </div>-->
      
      <!--דפדןף-->
     <!-- <div>
        <button mat-raised-button class="space2" *ngIf = "(authService.getUser() | async)"
        color="primary"
        (click) = "nextPage()">
        Next Page
       </button>   
      </div>-->


  