
.mat-form-field + .mat-form-field {  
    margin-left: 8px;
  }

  mat-panel-description {
      text-align: left;
      width:400px;
  }

  mat-panel-title {
      width:400px;
  }

  .space {
    margin-left:300px;
    width:70px;

  }

  .space1 {
    margin-left:20px;
    margin-top: 20px;
  }

  .space2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
