<mat-card>
    <h1>{{formType}}</h1> 
    <form #costumerForm="ngForm"> 
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required> 
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years</mat-label>
              <input matInput 
                [(ngModel)] = "years" 
                name = "years" 
                type = "number"
                required
                > 
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                type = "number"
                required> 
            </mat-form-field>
          </p>                                   
        <div > 
            <button mat-raised-button 
                   [disabled] = "!costumerForm.form.valid" 
                    color="primary" 
                    (click) = "validation(years)">
                    {{formType}} 
            </button>
            <button mat-raised-button 
                    (click) = "tellParenttoClose()">
                    Cancel
            </button>
        </div>
        <p style = "color: red">{{error}}</p>
      </div>
    </form>
   </mat-card>
